<div id="agendatelefonica" class="container-fluid">
  <!--Pestaña Consultar-->
  <div class="row justify-content-center contenedor">
    <div class="col-md-10 text-center">
        <h5>Reporte Venta</h5>
        <form [formGroup]="formulario" class="contenedor">
                <div class="row">
                        <div class="col-md-2">
                          <div class="form-group has-float-label">
                              <label id="labelEsContraReembolso" for="idEsContraReembolso" class="tamanio-label">Buscar Por</label>
                              <mat-select class="form-control form-control-sm" formControlName="buscarPor" (selectionChange)="cambioBuscarPor()">
                                <mat-option [value]="0">Fecha</mat-option>
                                <mat-option [value]="1">Cliente</mat-option>
                                <mat-option [value]="2">Tipo de Formulario</mat-option>
                              </mat-select>            
                          </div>
                        </div>
                        <div class="col-md-3" *ngIf="mostrarCliente">
                            <div class="form-group has-float-label ">
                              <label for="idProveedor" class="labelidProveedor">Cliente</label>
                              <input id="idProveedor" class="form-control form-control-sm" [formControl]="buscarProveedor"
                              type="text" matInput  [matAutocomplete]="auto" autocomplete="off" >
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                  <mat-option *ngFor="let cliente of listaClientes" [value]="cliente" (onSelectionChange)="cambioAutocompletadoCliente(cliente)">
                                  {{cliente.nombre}}
                                  </mat-option>
                              </mat-autocomplete>
                          </div>
                        </div>
                        <div class="col-md-3" *ngIf="mostrarTipoFormulario">
                            <div class="form-group has-float-label ">
                              <label for="idTipoFormulario" class="labelTipoFormulario">Tipo de Formulario</label>
                              <input id="idTipoFormulario" class="form-control form-control-sm" 
                              type="text" matInput [formControl]="buscarTipoFormulario" [matAutocomplete]="autoFormulario" 
                              autocomplete="off" >
                              <mat-autocomplete #autoFormulario="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                <mat-option *ngFor="let tipoFormulario of listaTiposFormularios" [value]="tipoFormulario" (onSelectionChange)="cambioAutocompletadoTipoFormulario(tipoFormulario)">
                                  {{tipoFormulario.nombre}}
                                </mat-option>
                              </mat-autocomplete>
                            </div>
                          </div>
                        <div class="col-md-2" *ngIf="mostrarTipo">
                          <div class="form-group has-float-label">
                              <label id="labelEsContraReembolso" for="idEsContraReembolso" class="tamanio-label">Tipo</label>
                              <mat-select class="form-control form-control-sm" formControlName="tipo" (selectionChange)="cambioTipo()">
                                <mat-option [value]="0">Fecha</mat-option>
                                <mat-option [value]="1">Mes y Año</mat-option>
                                <mat-option [value]="2">Período</mat-option>
                              </mat-select>            
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div *ngIf="mostrarTipoFecha">
                            <div class="form-group has-float-label">
                              <label for="idTipoFecha" class="">Fecha</label>
                              <input id="idTipoFecha" type="date" formControlName="fecha" class="form-control form-control-sm">
                            </div>
                          </div>
                          <div class="row" *ngIf="mostrarTipoMesAnio">
                            <div class="col-md-6">
                              <div class="form-group has-float-label">
                                  <label for="idFecha" class="labelNumeroFactura">Mes</label>
                                  <mat-select class="form-control form-control-sm" formControlName="mes" (blur)="cambioTipo()">
                                      <mat-option [value]="01">Enero</mat-option>
                                      <mat-option [value]="02">Febrero</mat-option>
                                      <mat-option [value]="03">Marzo</mat-option>
                                      <mat-option [value]="04">Abril</mat-option>
                                      <mat-option [value]="05">Mayo</mat-option>
                                      <mat-option [value]="06">Junio</mat-option>
                                      <mat-option [value]="07">Julio</mat-option>
                                      <mat-option [value]="08">Agosto</mat-option>
                                      <mat-option [value]="09">Septiembre</mat-option>
                                      <mat-option [value]="10">Octubre</mat-option>
                                      <mat-option [value]="11">Noviembre</mat-option>
                                      <mat-option [value]="12">Diciembre</mat-option>
                                  </mat-select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group has-float-label">
                                  <label for="idAnio" class="labelNumeroFactura">Año</label>
                                  <input id="idAnio" type="text" formControlName="anio" pattern="[0-9]" maxlength="4" class="form-control form-control-sm" >
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngIf="mostrarTipoPeriodo">
                            <div class="col-md-6">
                              <div class="form-group has-float-label">
                                  <label for="idFecha" class="labelNumeroFactura">Desde</label>
                                  <input id="idFecha"  type="date" formControlName="fechaInicio" class="form-control form-control-sm">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group has-float-label">
                                  <label for="idFecha" class="labelNumeroFactura">Hasta</label>
                                  <input id="idFecha"  type="date" formControlName="fechaFin" class="form-control form-control-sm">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                            <button id="idBoton" class="btn btn-primary btn-sm" type="button" (click)="buscar()">
                                Buscar
                            </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:10%" scope="col">#</th>
                                    <th class="text-center" style="width:20%" scope="col">Fecha</th>
                                    <th class="text-center" style="width:20%" scope="col">N° de Recibo</th>
                                    <th class="text-center" style="width:20%" scope="col">Cliente</th>
                                    <th class="text-center" style="width:15%" scope="col">Formularios</th>
                                    <th class="text-center" style="width:15%" scope="col">Importe ($)</th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr *ngFor="let factura of listaCompleta; let i = index" > 
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.id}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.fecha}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.numeroCompleto}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.clientePropio.nombre}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                      <span class="cursor-color" (click)="openDialog(factura.formulariosVenta, factura.fecha)">ver</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.monto}}</span>
                                  </td>
                                </tr>
                              </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <div class="form-group has-float-label" >
                    <label for="idCantidad" class="labelCantidad">Importe Total ($)</label>
                    <input id="idCantidad" type="number" formControlName="montoTotal" autocomplete="off" class="form-control form-control-sm" (blur)="aplicarAbona()">
                  </div>
                  <div class="text-right" >
                      <button id="idBoton" class="btn btn-primary btn-sm" type="button" (click)="imprimir()" >
                        Generar PDF
                      </button>
                  </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>