div.col-md-3.align-self-end {
    margin-bottom: 45px;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 700px !important;
        margin: 1.75rem auto;
    }
}
label.custom-file-label::after{
    content: "Cargar Foto" !important;
}
.example-chip-list {
    width: 100%;
  }
  .centrado {
      text-align: center;
      width: 100%;
      border-style: none;
      background-color: #F2F2F2;
  }