<div id="area" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="container text-center">
      <nav mat-tab-nav-bar>
          <a mat-tab-link disabled>Lista Precio Venta</a>
          <a mat-tab-link
             *ngFor="let pestania of pestanias"
             [active]="activeLink== pestania.pestania.nombre"
             (click)="seleccionarPestania(pestania.pestania.id, pestania.pestania.nombre)">
            {{pestania.pestania.nombre}}
          </a>
        </nav>
  </div>
  </div>
<div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
  <div class="col-md-10 text-center">
    <h5>{{pestaniaActual}} Lista Precio Venta</h5>
    <form [formGroup]="formulario" class="contenedor">
      <div class="row ">
          <div class="col-md-4">
            <div class="form-group has-float-label " *ngIf="mostrarAutocompletado">
                <label for="idListaPrecio" class="labelListaPrecio">Lista de Precio</label>
                <input id="idListaPrecio" class="form-control form-control-sm color-busqueda"
                  type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off" *ngIf="listaPrecioDisable">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                  <mat-option *ngFor="let item of resultados" [value]="item"
                    (onSelectionChange)="cambioAutocompletado(item.alias)">
                    {{item.nombre}}
                  </mat-option>
                </mat-autocomplete>
            </div>
            <!--el siguiente bloque se activa solo en consultar, actualizar, eliminar y listar-->
            <div class="form-group has-float-label " *ngIf="mostrarAutocompletadoPorId">
              <label for="idListaPrecioId" class="labelListaPrecio">Lista de Precio Por Id</label>
              <input id="idListaPrecioId" class="form-control form-control-sm color-busqueda"
                type="text" matInput [formControl]="autocompletadoPorId" [matAutocomplete]="auto" autocomplete="off">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="cambioAutocompletadoPorId(item)">
                  {{item.nombre}}
                </mat-option>
              </mat-autocomplete>
          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group has-float-label" *ngIf="mostrarAccionTabla">
            <label for="idTipoOrdenVenta" class="tamanio-label">Tipo de Formulario *</label>
            <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="tipoFormulario"
            type="text" matInput [formControl]="buscarTipoFormulario" [matAutocomplete]="autoFormulario" 
            autocomplete="off"  required>
            <mat-autocomplete #autoFormulario="matAutocomplete" [displayWith]="displayFn.bind(this)">
              <mat-option *ngFor="let tipoFormulario of resultadosTiposFormularios" [value]="tipoFormulario" (onSelectionChange)="cambioAutocompletadoListaPrecioVenta(tipoFormulario, i)">
                {{tipoFormulario.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-md-4" *ngIf="mostrarAccionTabla">
          <div class="form-group has-float-label">
          <label for="idTipoOrdenVenta" class="tamanio-label">Precio *</label>
            <input id="idPrecio" type="number" formControlName="precio" class="form-control form-control-sm" [readonly]="soloLectura" required>
          </div>
        </div>
        <div class="col-md-4">
          <button id="idBoton" class="btn btn-primary btn-sm " type="button" (click)="agregarElemento()" *ngIf="mostrarAccionTabla" > 
            Añadir Precio Compra(+)
          </button>
        </div>
      </div><br>
      <div class="row " *ngIf="mostrarTabla">
        <div class="col-md-10">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th class="text-center" style="width:20%" scope="col">#</th>
                    <th class="text-center" style="width:40%" scope="col">Tipo de Formulario</th>
                    <th class="text-center" style="width:20%" scope="col">Precio($)</th>
                    <th class="text-center" style="width:20%" scope="col" *ngIf="mostrarAccionTabla">
                      <span class="">Eliminar</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of listaAgregar; let i = index" > 
                    <td class="td-edicion-tabla">
                      <span>{{i+1}}</span>
                    </td>
                    <td class="td-edicion-tabla">
                      <span>{{a.tipoFormulario.nombre}}</span>
                    </td>
                    <td class="td-edicion-tabla">
                      <span>{{a.precio}}</span>
                    </td>
                    <td *ngIf="mostrarAccionTabla" class="td-edicion-tabla">
                      <span class="cursor-color" (click)="eliminarElemento(i)">X</span>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
      <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
        formnovalidate (click)="accion(indiceSeleccionado)" > <!--(click)="accion(indiceSeleccionado)"-->
        {{pestaniaActual}}
      </button>
    </form>
  </div>
</div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
              <div class="form-group has-float-label " *ngIf="mostrarAutocompletadoPorId">
                  <label for="idListaPrecio" class="labelListaPrecio">Lista de Precio Por Id</label>
                  <input id="idAutocompletado" class="form-control form-control-sm color-busqueda"
                    type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let item of resultados" [value]="item"
                      (onSelectionChange)="cambioAutocompletadoPorId(item)">
                      {{item.alias}}
                    </mat-option>
                  </mat-autocomplete>
              </div>
          </div>
        </div>
          <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th class="text-center" style="width:20%" scope="col">#</th>
                  <th class="text-center" style="width:40%" scope="col">Tipo de Formulario</th>
                  <th class="text-center" style="width:20%" scope="col">Precio($)</th>
                  <th class="text-center" style="width:20%" scope="col" *ngIf="mostrarAccionTabla">+</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of listaAgregar">
                  <td >
                    <span>{{l.id}}</span>
                  </td>
                  <td >
                    <span>{{l.tipoFormulario.nombre}}</span>
                  </td>
                  <td >
                    <span>{{l.precio}}</span>
                  </td>
                  <td  *ngIf="mostrarAccionTabla">
                    <span class="cursor-color" (click)="activarConsultar(l)">X</span>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>