<div id="agendatelefonica" class="container-fluid">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>COMPRA</a>
        <a mat-tab-link (click)="indiceSeleccionado=1" [active]="activeLink== 1" >Nueva</a>
        <a mat-tab-link (click)="indiceSeleccionado=2" [active]="activeLink== 2" >Consultar</a>
      </nav>
    </div>
  </div>
  <!--Pestaña solicitar-->
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado==1">
    <div class="col-md-10 text-center">
      <h5>Nueva Compra</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idFecha" class="labelFecha">Fecha</label>
                <input id="idFecha" type="date" formControlName="fecha" class="form-control form-control-sm" #fecha>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idNumeroFactura" class="labelNumeroFactura">N° de Factura</label>
              <input id="idNumeroFactura" type="number" formControlName="numero" autocomplete="off" class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label ">
                <label for="idModalidadPago" class="labelModalidadPago">modalidad de Pago</label>
                <input id="idModalidadPago" class="form-control form-control-sm color-busqueda"
                  type="text" matInput [formControl]="idModalidadPago" [matAutocomplete]="auto" autocomplete="off" >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                  <mat-option *ngFor="let modalidad of resultadosModalidadPago" [value]="modalidad" (click)="cambioIncrementoDescuento(modalidad)">
                    {{modalidad.nombre}}
                  </mat-option>
                </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label ">
                <label for="idProveedor" class="labelidProveedor">Proveedor</label>
                <input id="idProveedor" class="form-control form-control-sm color-busqueda" 
                type="text" matInput [formControl]="idProveedor" [matAutocomplete]="auto2" autocomplete="off" >
                <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let proveedor of resultadosProveedor" [value]="proveedor" (onSelectionChange)="cambioAutocompletadoProveedor(proveedor)">
                    {{proveedor.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTipoFactura" class="labelTipoFactura">Tipo de Factura</label>
              <input id="idTipoFactura" type="text" [formControl]="tipoFactura" autocomplete="off" class="form-control form-control-sm"
                [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div formArrayName="formulariosCompra" >
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th class="text-center" style="width:5%" scope="col">#</th>
                        <th class="text-center" style="width:15%" scope="col">Tipo de Formulario</th>
                        <th class="text-center" style="width:15%" scope="col">Precio c/u ($)</th>
                        <th class="text-center" style="width:15%" scope="col">N° Desde</th>
                        <th class="text-center" style="width:15%" scope="col">N° Hasta</th>
                        <th class="text-center" style="width:10%" scope="col">Cantidad</th>
                        <th class="text-center" style="width:20%" scope="col">Precio Total ($)</th>
                        <th class="text-center" style="width:5%" scope="col" >
                          <span class="" (click)="agregarElemento()">+</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let a of formulario.get('formulariosCompra').controls; let i = index" [formGroupName]="i"> 
                        <td class="td-edicion-tabla">
                          <span>{{i+1}}</span>
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="tipoFormulario"
                            type="text" matInput [formControl]="buscarTipoFormulario" [matAutocomplete]="autoFormulario" 
                            autocomplete="off" >
                          <mat-autocomplete #autoFormulario="matAutocomplete" [displayWith]="displayFn.bind(this)">
                            <mat-option *ngFor="let tipoFormulario of resultadosTiposFormularios" [value]="tipoFormulario" (onSelectionChange)="cambioAutocompletadoTipoFormulario(tipoFormulario, i)">
                              {{tipoFormulario.nombre}}
                            </mat-option>
                          </mat-autocomplete>
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="precioUnitario" [readonly]="soloLectura">
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="numeracionDesde" type="number">
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="numeracionHasta" type="number" (blur)="calcularCantidad(i)">
                        </td>
                        <td class="td-edicion-tabla">
                            <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="cantidad" [readonly]="soloLectura">
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="montoTotal" type="number" [readonly]="soloLectura">
                        </td>
                        <td class="td-edicion-tabla">
                          <span class="cursor-color" (click)="eliminarElemento(i)">X</span>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idProveedor" class="labelProveedor">{{tipoModalidadPago}} ($)</label>
                <input id="idProveedor" type="number" formControlName="increDesc" autocomplete="off" class="form-control form-control-sm" (blur)="aplicarDescuentoIncremento()">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idTipoFactura" class="labelTipoFactura">Precio Factura</label>
                <input id="idTipoFactura" type="text" formControlName="monto" autocomplete="off" class="form-control form-control-sm"
                  [readonly]="soloLectura">
              </div>
            </div>
        </div>
        <button id="idBoton" class="btn btn-primary" type="button" (click)="agregar()">
          Guardar
        </button>
      </form>
    </div>
  </div>
  <!--Pestaña Listar-->
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado==2">
    <div class="col-md-10 text-center">
        <h5>Consultar Compra</h5>
        <form [formGroup]="formularioConsulta" class="contenedor">
                <div class="row">
                        <div class="col-md-2">
                          <div class="form-group has-float-label">
                            <label for="idFechaConsultar" class="labelNumeroFactura">Fecha</label>
                            <input id="idFechaConsultar" type="date" formControlName="fecha" autocomplete="off" class="form-control form-control-sm"
                              >
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group has-float-label">
                            <label for="idModalidadPago" class="labelModalidadPago">N° Factura</label>
                            <input id="idModalidadPago" type="number" formControlName="numero" autocomplete="off" class="form-control form-control-sm"
                             >
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group has-float-label ">
                            <label for="idModalidadPago" class="labelModalidadPago">modalidad de Pago</label>
                            <input id="idModalidadPago" class="form-control form-control-sm color-busqueda" [formControl]="idModalidadPagoConsultar"
                              type="text" matInput formControlName="modalidadPago" [matAutocomplete]="auto1" autocomplete="off" >
                            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn.bind(this)">
                              <mat-option *ngFor="let modalidad of resultadosModalidadPago" [value]="modalidad">
                                {{modalidad.nombre}}
                              </mat-option>
                            </mat-autocomplete>
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group has-float-label ">
                            <label for="idProveedor" class="labelidProveedor">Proveedor</label>
                            <input id="idProveedor" class="form-control form-control-sm color-busqueda" [formControl]="idProveedorConsultar"
                            type="text" matInput formControlName="proveedor" [matAutocomplete]="auto" autocomplete="off" >
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                <mat-option *ngFor="let proveedor of resultadosProveedor" [value]="proveedor">
                                {{proveedor.nombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        </div>
                        <div class="col-md-1">
                            <button id="idBoton" class="btn btn-primary " type="button" (click)="buscar()">
                                Buscar
                            </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:10%" scope="col">#</th>
                                    <th class="text-center" style="width:15%" scope="col">Fecha</th>
                                    <th class="text-center" style="width:15%" scope="col">N° de Factura</th>
                                    <th class="text-center" style="width:15%" scope="col">Modalidad de Pago</th>
                                    <th class="text-center" style="width:15%" scope="col">Precio ($)</th>
                                    <th class="text-center" style="width:20%" scope="col">Proveedor</th>
                                    <th class="text-center" style="width:10%" scope="col">Formularios</th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr *ngFor="let factura of listaCompleta; let i = index" > 
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.id}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.fecha}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.numero}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.modalidadPago.nombre}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.monto}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span>{{factura.proveedor.alias}}</span>
                                  </td>
                                  <td class="td-edicion-tabla">
                                    <span class="cursor-color" (click)="openDialog(factura.formulariosCompra)">ver</span>
                                  </td>
                                </tr>
                              </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>