.td-edicion-tabla {
  margin: 0 !important;
  padding: 0 !important;
}
.form-control-sm {
  height: calc(1.8125rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.form-control {
  height: calc(1.8125rem + 2px);
}